In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
data = pd.read_csv('/content/iris (1).csv')

In [7]:
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    NaN  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  NaN  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

**Do the necessary pre-processing**

In [94]:
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  4.9  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [95]:
data.tail()

      SL   SW   PL   PW  Classification
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.0  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              150 non-null    float64
 1   SW              150 non-null    float64
 2   PL              150 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [113]:
data.fillna(0)

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.9  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.0  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [115]:
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.9  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.0  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [116]:
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [117]:
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

In [118]:
inde_fe =['SL', 'SW', 'PL', 'PW']

In [119]:
x = data[inde_fe]

In [120]:
y = data['Classification']

In [121]:
x

      SL   SW   PL   PW
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.9  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.0  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [122]:
from sklearn.preprocessing import LabelEncoder

In [123]:
x = pd.get_dummies(x)

In [124]:
data.groupby('Classification').size()

Classification
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [125]:
from sklearn.model_selection import train_test_split

In [126]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                    test_size=0.4,
                                                    random_state = 42)

In [37]:
##train, test = train_test_split(data, test_size = 0.4, stratify = data['Classification'], random_state = 42)

In [127]:
x_train.describe()

              SL         SW         PL         PW
count  90.000000  90.000000  90.000000  90.000000
mean    5.846667   2.997778   3.833333   1.242222
std     0.838431   0.397175   1.705839   0.751624
min     4.300000   2.200000   1.100000   0.100000
25%     5.100000   2.800000   1.625000   0.325000
50%     5.800000   3.000000   4.350000   1.300000
75%     6.400000   3.200000   5.100000   1.800000
max     7.700000   4.200000   6.700000   2.500000

 **LogisticRegression**

In [128]:
from sklearn.linear_model import LogisticRegression

In [129]:
y_test

73     Iris-versicolor
18         Iris-setosa
118     Iris-virginica
78     Iris-versicolor
76     Iris-versicolor
31         Iris-setosa
64     Iris-versicolor
141     Iris-virginica
68     Iris-versicolor
82     Iris-versicolor
110     Iris-virginica
12         Iris-setosa
36         Iris-setosa
9          Iris-setosa
19         Iris-setosa
56     Iris-versicolor
104     Iris-virginica
69     Iris-versicolor
55     Iris-versicolor
132     Iris-virginica
29         Iris-setosa
127     Iris-virginica
26         Iris-setosa
128     Iris-virginica
131     Iris-virginica
145     Iris-virginica
108     Iris-virginica
143     Iris-virginica
45         Iris-setosa
30         Iris-setosa
22         Iris-setosa
15         Iris-setosa
65     Iris-versicolor
11         Iris-setosa
42         Iris-setosa
146     Iris-virginica
51     Iris-versicolor
27         Iris-setosa
4          Iris-setosa
32         Iris-setosa
142     Iris-virginica
85     Iris-versicolor
86     Iris-versicolor
16         Iris-setosa
10         Iris-setosa
81     Iris-versicolor
133     Iris-virginica
137     Iris-virginica
75     Iris-versicolor
109     Iris-virginica
96     Iris-versicolor
105     Iris-virginica
66     Iris-versicolor
0          Iris-setosa
122     Iris-virginica
67     Iris-versicolor
28         Iris-setosa
40         Iris-setosa
44         Iris-setosa
60     Iris-versicolor
Name: Classification, dtype: object

In [130]:
lr = LogisticRegression(max_iter=5000)
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [131]:
y_pred

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor'], dtype=object)

In [167]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [137]:
confusion_matrix(y_test, y_pred)

array([[ 3, 11,  6],
       [ 3, 11,  6],
       [ 4,  8,  8]])

In [138]:
accuracy_score(y_test, y_pred)

0.36666666666666664

In [143]:
num_cols= ['SL','SW','PL','PW']

In [144]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train.loc[:,num_cols] = sc.fit_transform(x_train[num_cols])
x_test.loc[:,num_cols] = sc.fit_transform(x_test[num_cols])

In [145]:
lr = LogisticRegression(max_iter=5000)
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
accuracy_score(y_test,y_pred)

0.3

In [146]:
# calculationg probabilities
y_pred_prob = lr.predict_proba(x_test)

In [147]:
y_pred_prob

array([[0.36873339, 0.35784473, 0.27342188],
       [0.24936322, 0.35814808, 0.3924887 ],
       [0.36510704, 0.25100171, 0.38389125],
       [0.38760081, 0.28581078, 0.32658841],
       [0.2932737 , 0.36664527, 0.34008103],
       [0.2277419 , 0.42176296, 0.35049514],
       [0.35003391, 0.32253077, 0.32743533],
       [0.36928698, 0.1629277 , 0.46778531],
       [0.26782413, 0.46269017, 0.2694857 ],
       [0.320663  , 0.39001492, 0.28932208],
       [0.41182771, 0.17498476, 0.41318753],
       [0.22175133, 0.54696086, 0.23128781],
       [0.20757382, 0.44783552, 0.34459066],
       [0.23148189, 0.52555475, 0.24296335],
       [0.3043792 , 0.33027442, 0.36534639],
       [0.39099498, 0.21291229, 0.39609273],
       [0.46574582, 0.16605395, 0.36820023],
       [0.31232222, 0.44262903, 0.24504875],
       [0.41039989, 0.3183992 , 0.27120091],
       [0.43939267, 0.19616836, 0.36443897],
       [0.28115314, 0.46250767, 0.25633919],
       [0.43046554, 0.21701564, 0.35251883],
       [0.28079664, 0.39538333, 0.32382003],
       [0.43934954, 0.20865509, 0.35199537],
       [0.39316165, 0.12561649, 0.48122186],
       [0.37158039, 0.17536963, 0.45304998],
       [0.37365335, 0.3241372 , 0.30220945],
       [0.44742936, 0.13992965, 0.41264099],
       [0.23268946, 0.50720255, 0.26010799],
       [0.25546031, 0.4950806 , 0.24945909],
       [0.29650989, 0.37831277, 0.32517735],
       [0.28741761, 0.22307182, 0.48951058],
       [0.30477365, 0.30454311, 0.39068324],
       [0.29684578, 0.42019137, 0.28296285],
       [0.29291153, 0.45127731, 0.25581116],
       [0.35476236, 0.30777165, 0.33746599],
       [0.28729378, 0.27961556, 0.43309067],
       [0.24190599, 0.45036219, 0.30773183],
       [0.28138349, 0.39180417, 0.32681234],
       [0.32123007, 0.305649  , 0.37312093],
       [0.46201552, 0.23296645, 0.30501803],
       [0.53462605, 0.15392929, 0.31144466],
       [0.33388653, 0.28041636, 0.38569711],
       [0.262904  , 0.31077435, 0.42632166],
       [0.18726054, 0.53727082, 0.27546865],
       [0.28662522, 0.48729419, 0.22608058],
       [0.39161262, 0.30610755, 0.30227982],
       [0.46047597, 0.19958394, 0.33994009],
       [0.30655338, 0.32059628, 0.37285034],
       [0.39739136, 0.09501726, 0.50759138],
       [0.39454916, 0.30832687, 0.29712397],
       [0.3896102 , 0.21017626, 0.40021354],
       [0.45870018, 0.24041034, 0.30088948],
       [0.2574439 , 0.42230821, 0.32024789],
       [0.36415692, 0.26334901, 0.37249407],
       [0.32842599, 0.4195068 , 0.25206721],
       [0.24190599, 0.45036219, 0.30773183],
       [0.26467621, 0.39932777, 0.33599602],
       [0.34348108, 0.30177816, 0.35474076],
       [0.26797904, 0.55516245, 0.17685851]])

In [148]:
accuracy_score(y_test,y_pred)

0.3

**KNeighborsClassifier**

In [149]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=13)

In [150]:
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
accuracy_score(y_test,y_pred)

0.35

In [151]:
lst_acc = []
for i in range(5,16,2):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    y_pred = knn.predict(x_test)
    acc = accuracy_score(y_test,y_pred)
    lst_acc.append(acc)

In [152]:
lst_acc

[0.36666666666666664,
 0.3333333333333333,
 0.31666666666666665,
 0.3333333333333333,
 0.35,
 0.3]

In [153]:
from sklearn.model_selection import cross_validate
cvs = cross_validate(knn,x,y,cv=10)

In [154]:
cvs

{'fit_time': array([0.00730896, 0.00292301, 0.00296664, 0.00207734, 0.0021534 ,
        0.00208616, 0.00267458, 0.00223303, 0.00202942, 0.00201583]),
 'score_time': array([0.00416279, 0.00443673, 0.00341988, 0.00251293, 0.00254631,
        0.00244856, 0.00292349, 0.00262427, 0.00238657, 0.00240159]),
 'test_score': array([1.        , 0.93333333, 1.        , 1.        , 1.        ,
        0.93333333, 0.93333333, 1.        , 1.        , 1.        ])}

In [155]:
cvs['test_score'].mean()

0.9800000000000001

In [156]:
cvs = cross_validate(lr,x,y,cv=10)

In [158]:
cvs

{'fit_time': array([0.05089688, 0.02585769, 0.03375173, 0.02652502, 0.02595925,
        0.03513885, 0.03400731, 0.02899313, 0.03012252, 0.02428722]),
 'score_time': array([0.00185704, 0.00174713, 0.00185108, 0.00178862, 0.00209808,
        0.00178671, 0.00176144, 0.00176883, 0.00175023, 0.00174832]),
 'test_score': array([1.        , 0.93333333, 1.        , 1.        , 1.        ,
        0.93333333, 0.93333333, 1.        , 1.        , 1.        ])}

In [159]:
cvs['test_score'].mean()

0.9800000000000001

In [133]:
X_train = train[['SL','SW','PL','PW']]
y_train = train.Classification
X_test = test[['SL','SW','PL','PW']]
y_test = test.Classification

**RandomForestClassifier**

In [169]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)

In [170]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.3333333333333333